{% extends "Characters/baseCharacter.html.twig" %}
{% block contenido %}

            <div class="container">
                <div class="row">
                    <div class="col text-center"><h2>{{character.name}} Nº {{character.species}}</h2></div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{character.image}}">
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">{{character.gender}}</div>
                        </div>
                        <div class="row">
                            <ul>
                               {# DEBILIDADES #}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}