{% extends "Characters/baseCharacter.html.twig" %}
{% block contenido %}

    <h2>Listado de Characters </h2>
    <div class="row row-cols-1 row-cols-md-2">
        {% for character in characters %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ character.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ character.name }}</h5>
                        <p class="card-text">{{ character.species }}</p>
                        <p class="card-text">{{ character.gender }}</p>
                        <a href="#" class="btn btn-primary">Más Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}